@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');

* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://cdn.discordapp.com/attachments/663107717086576670/912082413939724338/Ontwerp_zonder_titel.jpg");
    background-size: cover;
    font-family: 'Estonia', cursive;
}

.page3 {
    max-height: 93vh;
    max-width: 33vw;
    background-image: url("https://cdn.discordapp.com/attachments/663107717086576670/912082224797605888/Blad_boek.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
}

.stamboom {
    display: flex;
    justify-content: center;
    height: 70%;
    width: 90%;
    background-image: url("https://cdn.discordapp.com/attachments/663107717086576670/913173214195249182/Stamboom_Yelran.png");
    background-size: cover;
    background-position:inherit;
}

.upper {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 500vw;
    font-size: 3vh;
    font-weight: bold;
    position: relative;
    left: 10%;
}

.upper1 {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 400vw;
    font-size: 3vh;
    font-weight: bold;
    position: relative;
    left: 20%;
}

.lower {
    max-height: 20vh;
    width: 400vw;
    align-items: center;
    display: flex;
    font-size: 3vh;
    font-weight: bold;
    position: relative;
    top: 65%;
    right: 28%;
}